html{
    font-size: 10px;
    text-transform: uppercase;
    background: url('./background.jpg') bottom center ;
    background-size: cover;
}
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
kbd{
    font-size: 4rem;
    display: block;
    color: bisque;
} 
span{
    font-size: 1.4rem;
    color: rgb(238, 176, 19);
}

.keys{
    display: flex;
    flex: 1;
    /* width: 100vw; */
    height: 100vh;
    align-items: center;
  justify-content: center;

}
.key{
    border: .5rem solid black;
    border-radius: .5rem;
    width: 10rem;
    background-color: hsla(12, 10%, 10%, 0.71);
    margin: 1rem;
    transition: all .07s ease;
    align-items: center;
   display: flex;
   flex-direction: column;
   padding: 1rem .5rem;
}

.playing{
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;    
}